html {
    background-color: darkgray;
    background-image: url("https://i.pinimg.com/originals/b6/e2/07/b6e207de79fb845571e7bbc42815a563.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: center, center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input {
    font-weight: 500;
}

.box {
    background: rgba(0, 0, 0, 808);
    position: relative;
    margin: 25vh auto;
    height: 50vh;
    width: 60%;
    color: white;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 15px;
}

.header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e3c7a0;
    font-size: 3.5em;
    letter-spacing: 4px;
    margin-bottom: 30px;
}

.btn {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 30px;
    padding: 10px 35px;
    background-color: #e3c7a0;
    color: white;
    font-size: 2.5em;
    border: 1px solid white;
    border-radius: 20%/50%
}

button {
    outline: none;
}

button:hover {
    background-color: blueviolet;
    color: white;
}

button:active {
    background-color: black;
}

.instructions{
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: 2em;
    color: white;
}

